<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Babylon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BabylonCommon.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>BabylonModels.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>BabylonViewModels.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>BabylonViews.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13CA3C6722C5292E000F6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CA3C7E22C5292F000F6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CA3C8922C5292F000F6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CA3CA822C52941000F6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CA3CCB22C5294E000F6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CA3CED22C5295E000F6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13CA3D0F22C52973000F6D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
